include LICENSE
include README.md
recursive-include paydaysuper/data *.json
recursive-include tests *.py
recursive-include examples *.json *.csv
recursive-include tools *.py
recursive-include docs *.md
global-exclude __pycache__/*
global-exclude *.py[cod]
